@{
    ViewData["Title"] = "Dashboard Admin";
    Layout = "_Admin";
}
@using Microsoft.AspNetCore.Http



<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Employees</h1>
                    </div>

                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-purple">
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="contents" class="table table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>USername</th>
                                                <th>Gender</th>
                                                <th>Site</th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tbody id="contents">
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.container-fluid -->
        </section>


        <!--<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-purple">
                    </div>
                    <!-- /.card-header -->
        <!--<div class="card-body">
    <table id="contents" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Date</th>
                <th>Creator</th>-->
        @*<th>Action</th>*@
        @*</tr>
            </thead>
            <tbody id="contents">
            </tbody>
            </table>
        </div>-->*@
        <!-- /.card-body -->
        <!--</div>

    </div>-->
        <!-- /.col -->
        <!--</div>-->
        <!-- /.row -->
        <!--</div>-->
        <!-- /.container-fluid -->
        <!--</section>-->
        <!-- /.card -->
        @*</div>*@
    </div>
                <!-- /.col -->
            <!--</div>-->
            <!-- /.row -->
        <!--</section>-->
        <!-- /.content -->
    <!--</div>-->
    <!-- /.content-wrapper -->
</body>


@section Scripts{
    <script type="text/javascript" src="~/js/employee.js"></script>
}
