@{
    ViewData["Title"] = "Dashboard Admin";
    Layout = "_Admin";
}
@using Microsoft.AspNetCore.Http

<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-md-2">
                        <h1>Employees</h1>                        
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2">                      
                        <button type="submit" class="btn btn-primary btn-block mb-2" data-toggle="modal" data-target="#myModal">Add Employee</button>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-purple">
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="contents" class="table table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Username</th>
                                                <th>Gender</th>
                                                <th>Site</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="contents">
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.container-fluid -->
        </section>

        <div class="modal fade " tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Registrasi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body " id="add" center>
                        <form class="need-validation" novalidate>
                            <div class="form-group">
                                <label for="employeeId">Employee ID</label>
                                <input type="text" class="form-control" id="employeeId" placeholder="Employee ID" required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" name="Full Name" id="fullName" placeholder="Full Name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" minlength="8" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" id="gender">
                                            <option value="1">Pria</option>
                                            <option value="2">Wanita</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="phoneNumber">Phone Number</label>
                                    <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="siteName">Site</label>
                                    <select class="form-control" id="siteName">
                                        <option value="1">MII</option>
                                    </select>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary" onclick="Insert()">Register</button>
                        </form>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        
</body>


@section Scripts{
    <script type="text/javascript" src="~/js/employee.js"></script>
}
